*.class

# Package Files #
*.ear
target
.gradle
.classpath
.project
build
.settings
dependency-reduced-pom.xml
bin

# OSX
*.DS_Store

# IntelliJ IDE Project Files #
*.iml
*.idea
*.versionsBackup
pom.xml.versionsBackup
jacoco.exec
